<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Home | Quiz API</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Glory&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='./style.css'>
</head>

<body>
    <header>
        <h3>Quiz API</h3>
        <div>
            <a href="/" class="active">Home</a>
            <a href="/projects">Projects</a>
        </div>
    </header>
    <main>
        <h1>Quiz API</h1>
        <p>Quiz API can be used to handle quizzes, this API has been created by <a
                class="link" target="_blank" href="https://www.linkedin.com/in/ahmed0saber/">ahmed0saber</a>, click the
            below button to view projects created with the help of Flowers API.</p>
        <a class="btn" href="/projects">View Projects</a>
    </main>
    <span class="separator"></span>
    <section>
        <h2>Usage</h2>
        <p>To get quiz questions, send a <span>GET</span> request to <span>/questions</span> endpoint.</p>
        <p>To post answers and get score, send a <span>POST</span> request with <span>Content-Type</span> of <span>application/x-www-form-urlencoded</span> and body consisting of an array called <span>answers</span> to <span>/answers</span> endpoint.</p>
        <p>Look at the below request body for example.</p>
        <code><pre>{
    answers: [1, 0, 2, 0, 2]
}</pre></code>
    </section>
</body>

</html>